/composer.lock
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/*
/public/images/*
/public/images/
.gitignore
snappy.php
.idea/
public/js/plugins/angular/i18n/ngLocale/
public/js/plugins/flot/examples/gauge/
/public/lib/*
/public/lib/
